<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.aboutHackathonTitle }}</h3>
            <div style="text-align: justify;">
                <h6>
                    <br>The <b>HackTrack</b> is the official <b>fun side</b> of a <b>Brainhack</b> event, where people
                    can work together on projects. What projects? Any kind! From
                    <a href="https://github.com/ohbm/hackathon2020/issues/124" target="_blank">exploding brains</a> to
                    <a href="https://github.com/ohbm/hackathon2020/issues/166" target="_blank">resource gathering</a> and
                    <a href="https://github.com/ohbm/hackathon2020/issues/156" target="_blank">data sharing</a>!<br><br>

                    Would you like to propose a project? Just open
                    <a href="https://github.com/ohbm/hackathon2022/issues/new/choose" target="_blank">
                        an issue on our GitHub repository</a> and fill
                    the template, we will be in touch to help you get going! But be sure to
                    <a href="https://www.humanbrainmapping.org/i4a/pages/index.cfm?pageid=4073" target="_blank">
                        register</a> first!<br><br>

                    Do you plan to focus on visualization? Are you getting images so weird that they are kind of
                    beautiful? Consider participating in the <em>Beautiful Mistake</em> category of the
                    <a href="https://ohbm-brainart.github.io" target="_blank">BrainArt SIG</a> competition! You can find the
                    submission form <a href="https://docs.google.com/forms/d/e/1FAIpQLSdkfoq-VF_Aw27MD1whBAZCFl6BHldOpOAQ2GWSXFng7fD3Vw/viewform" target="_blank">here</a>.<br><br>

                </h6>
            </div>
            {% for row in site.data.projects %}
            <div class="hackathon-row float-left col-md-12">
                <div class="hackathon-img-wrapper animated hiding" data-animation="fadeInLeft" data-delay="0">
                    <img class="img-responsive" src="{{ row.website-image }}" alt="Hackathon">
                </div>
                <div class="hackathon-details animated hiding" data-animation="fadeInRight" data-delay="0">
                    <h4><a href="{{ row.link }}">{{ row.title }}</a></h4>
                    <h6><a href="{{ row.issue-link }}">github issue</a></h6>
                    <h6>
                        Hubs: {{ row.hub }}{% if row.otherhub %}{% for hub in row.otherhub %}, {{ hub }}{% endfor %}{% endif %}
                    </h6>
                    <h5>PROJECT DESCRIPTION</h5>
                    <p>{{ row.goals | markdownify }}</p>
                    {% if row.skills %}
                    <h5>SKILLS</h5>
                    <p>{{ row.skills | markdownify }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->
