<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 team-aboutus" data-animation="fadeInUp" data-delay="0">
            <h3 style="background: transparent url({{ site.baseurl }}/img/organizers/ossig_logo.svg) right/contain no-repeat ">{{ site.teamBlockTitle }}</h3>

            <p class="text-justify">
              The <a href="https://ossig.netlify.app/">OHBM Open Science SIG</a> mission is to advance neuroimaging research by fostering the
              open sharing of ideas, data, and tools between members of the OHBM community. This will
              be accomplished by organizing educational events, supporting collaborative initiatives,
              and providing mentorship to junior researchers.As with previous years, our three main
              contributions to the OHBM annual meetings are:
            </p>
            <ol>
              <li>organizing a Brainhack to precede the annual meeting</li>
              <li>introducing the tools of open science via interactive tutorials as part of the TrainTrack</li>
              <li>facilitating collaborative work on a wide range of open science projects</li>
            </ol>
            <p class='text-justify'>
              This year the event is happening virtually, and we look forward to this opportunity to
              reach out to a larger and more diverse audience and to introduce a number of innovations
              that will enhance virtual collaborations!
            </p>

        </div>
    </div>
</section>
