.location-map {
    font-weight: $light;
    padding: 172px 0;
    h3 {
        margin-bottom: 0;
    }
}
.location-description {
    min-width: 400px;
    padding: 20px 50px;
    background: #fff;
    .icon-direction {
        width: 32px;
        height: 32px;
        margin: 1em 0;
    }
    ul {
        margin-top: 26px;
        padding: 0;
        list-style: none;
    }
    li {
        font-size: 21px;
        margin-bottom: 9px;
    }
    time {
        display: inline-block;
    }
}