name: Build and deploy Jekyll site to GitHub Pages

on:
  push:
    branches:
      - main

  issues:
    types:
      - edited
      - labeled

jobs:
  github-pages:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      contents: write
      
    steps:
      - uses: actions/checkout@v2
  
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - run: pip install -r requirements.txt
      - run: cp .env.example .env

      - name: Fetching projects from GitHub
        run: python scripts/fetch_gh_issues.py
        env:
          GH_AUTH: ${{ secrets.GH_AUTH }}

      - uses: actions/cache@v3
        with:
          path: ./img/projects
          key: ${{ runner.os }}-images-${{ hashFiles('_data/projects.yml') }}
          restore-keys: |
            ${{ runner.os }}-images
            
      - name: Compress images
        run: python scripts/compress_images.py
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}

      - name: Creating Discord channels
        run: python scripts/ensure_discord_channels.py
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          DISCORD_GUILD_ID: ${{ secrets.DISCORD_GUILD_ID }}
          GH_AUTH: ${{ secrets.GH_AUTH }}

#       - name: Tweeting about new projects
#         run: python scripts/tweet.py
#         env:
#           TWITTER_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
#           TWITTER_SECRET: ${{ secrets.TWITTER_ACCESS_SECRET }}
#           TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
#           TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}

      - uses: actions/cache@v3
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - uses: helaili/jekyll-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target_branch: 'gh-pages'
